ion-list-header {
  color: #d0297b;
  font-size: 0.75rem;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-top: 15px;

  ion-icon {
    font-size: 2rem;
  }
}

#app-section {
  transition: all 200ms ease-out;
  justify-content: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 180px;
  &.small {
    height: 130px;
  }

  #app-title {
    transition: all 200ms ease-out;
    color: #d0297b;
    margin: 0 5px;
    font-size: 2rem;
    text-align: center;
    position: relative;
    top: 0;
    &.small {
      font-size: 1.5rem;
      top: -95px;
    }
  }
  img {
    transition: all 200ms ease-out;
    width: 200px;
    &.small {
      width: 270px;
      opacity: 0.2;
      top: 20px;
      position: relative;
    }
  }
}

ion-icon {
  font-size: 1rem;
}
ion-header {
  ion-icon {
    font-size: 2rem;
    margin-right: 10px;
  }
}

.selected-label {
  font-size: 0.7rem;
}

.file-name {
  font-size: 0.85rem;
}

#media-controls {
  ion-icon {
    font-size: 2rem;
  }
}

ion-col {
  display: flex;
}
