<audio #audioElement autoplay></audio>
<audio #ringingElement></audio>
<audio #musicElement loop></audio>
<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light">Meditation Session Player</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="options-outline" (click)="openSettings()" color="light"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div padding id="app-section" [class.small]="!!currentSession" (click)="openMala()">
    <img src="/assets/icon/meditation-icon.jpg" [class.small]="!!currentSession">
    <h2 id="app-title" [class.small]="!!currentSession">{{ !!currentSession ? currentSession?.getTitle() : 'Hari OM!' }}</h2>
  </div>
  <ion-list *ngIf="sessions.length" mode="ios">
    <ion-list-header>
      <ion-col size="8" class="ion-justify-content-start ion-align-items-center information-line">
        No. of sessions: {{sessions.length}}
        <ion-icon name="sync-circle-outline" (click)="pickRandomSession()"></ion-icon>
        <ng-container *ngIf="notification.isTimerActive()">| <ion-icon name="alarm-sharp"></ion-icon> {{notification.countdownText}}</ng-container>
      </ion-col>
      <ion-col class="ion-justify-content-end">
        <ion-icon name="repeat-outline" (click)="profileService.toggleRepeat()"
                  color="{{ profileService.isRepeatEnabled() ? 'primary' : 'medium'}}"></ion-icon>
        <ion-icon name="chevron-down-outline" *ngIf="sessionService.isAscendingOrder()"
                  (click)="changeSessionListOrder()"></ion-icon>
        <ion-icon name="chevron-up-outline" *ngIf="!sessionService.isAscendingOrder()"
                  (click)="changeSessionListOrder()"></ion-icon>
      </ion-col>
    </ion-list-header>
    <ion-item *ngFor="let session of sessions; let i = index" text-wrap
              color="{{ currentSession?.id === session.id ? 'light' : ''}}">
      <ion-col size="1" class="ion-justify-content-start" (click)="likeSession(session)">
        <ion-icon color="secondary" name="bookmark" *ngIf="session.liked"></ion-icon>
        <ion-icon name="bookmark-outline" *ngIf="!session.liked"></ion-icon>
      </ion-col>
      <ion-col size="8" class="ion-justify-content-start" (click)="openSession(session)">
        <p class="file-name">{{ session.name }}</p>
      </ion-col>
      <ion-col *ngIf="currentSession?.id === session.id" class="ion-justify-content-end" (click)="openSession(session)">
        <p class="selected-label">
          <label>SELECTED <br> {{getCurrentTime()}}</label>
          <img src="/assets/anim.gif" *ngIf="!audioElement.paused">
          <ion-icon name="pause" *ngIf="audioElement.paused"></ion-icon>
        </p>
      </ion-col>
      <ion-col *ngIf="currentSession?.id !== session.id" class="ion-justify-content-end" (click)="openSession(session)">
        <p class="selected-label">
          {{ session.duration }}
          <ion-icon name="play"></ion-icon>
        </p>
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf="!!currentSession" [@showHide]="displayFooter">
  <ion-toolbar color="secondary">
    <ion-range min="0" color="light" [max]="getDurationSec()" (ionChange)="onSeekChange($event)" [pin]="true" [debounce]="200">
      <ion-label color="light" slot="start">{{ getCurrentTime() }}</ion-label>
      <ion-label color="light" slot="end">{{ getDuration() }}</ion-label>
    </ion-range>
  </ion-toolbar>

  <ion-toolbar color="primary" padding>
    <ion-grid>
      <ion-row class="ion-align-items-center" id="media-controls">
        <ion-col class="ion-justify-content-center">
          <ion-button fill="clear" (click)="previous()">
            <ion-icon color="light" name="play-skip-back"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="ion-justify-content-center" *ngIf="this.audioElement.paused">
          <ion-button fill="clear" (click)="play()">
            <ion-icon class="main-button" color="light" name="play"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="ion-justify-content-center" *ngIf="!this.audioElement.paused">
          <ion-button fill="clear" (click)="pause()">
            <ion-icon class="main-button" color="light" name="pause"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="ion-justify-content-center">
          <ion-button fill="clear" (click)="next()">
            <ion-icon color="light" name="play-skip-forward"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
