ion-list-header {
  color: var(--ion-color-primary);
  font-size: 0.75rem;
  align-items: center;
  border-bottom: 1px solid var(--ion-color-medium);
  margin-top: 15px;
  padding-left: 10px;

  ion-icon {
    font-size: 2rem;
    margin: 0 10px;
  }

  .information-line {
    ion-button {
      font-size: 0.8rem;
    }
    ion-icon {
      font-size: 1.5rem;
      margin: 0 5px;
    }
  }
}

#app-section {
  transition: all 200ms ease-out;
  justify-content: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 180px;
  &.small {
    height: 130px;
  }

  #app-title {
    transition: all 200ms ease-out;
    color: var(--ion-color-primary);
    margin: 0 5px;
    font-size: 2rem;
    text-align: center;
    position: relative;
    top: 0;
    padding: 0 15px;

    &.small {
      font-size: 1.5rem;
      top: -95px;
    }
  }
  img {
    transition: all 200ms ease-out;
    width: 200px;
    filter: var(--ion-custome-img-filter);

    &.small {
      width: 270px;
      opacity: 0.2;
      top: 20px;
      position: relative;
      filter: var(--ion-custome-img-filter) blur(5px);
    }
  }
}

ion-item {
  &.hidden {
    opacity: 0.4;
  }
}

ion-icon {
  font-size: 1rem;
}
ion-header {
  ion-icon {
    font-size: 2rem;
    margin-right: 10px;
  }
}

.selected-label {
  font-size: 0.7rem;
  align-items: center;
  display: flex;
  text-align: right;

  ion-icon {
    margin-left: 5px;
  }
  img {
    width: 20px;
    margin: 0 5px;
    filter: var(--ion-custome-anim-img-filter);
  }
}

.file-name {
  font-size: 0.85rem;
}

#media-controls {
  ion-icon {
    font-size: 2rem;
  }
}

ion-col {
  display: flex;
}
