.mala-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 70px);

  .ball {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--ion-color-secondary);
    color: var(--ion-color-light);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    font-size: 100px;
    box-shadow: 7px 4px 10px rgba(0,0,0,0.1);
    position: relative;
    font-weight: bold;
  }
}
