<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light" (click)="reset()">
      <ion-icon name="refresh-circle-outline" color="light"></ion-icon>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content (click)="pick()">
  <div class="mala-container ion-align-items-center ion-justify-content-center"
       (@showHide.done)="onAnimationEvent($event)" [@showHide]="displayFooter">
    <div class="ball">{{num}}</div>
  </div>
</ion-content>
