ion-title {
  ion-icon {
    font-size: 2rem;
    display: flex;
  }
}

.mala-container {
  display: flex;
  height: calc(100vh - 80px);
  font-size: 10rem;
  font-weight: bold;
  color: var(--ion-color-primary);
}
