<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="toggleSize()">
        <ion-icon color="light" name="search-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">{{lyricsService.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <pre [class.big]="bigSize" [innerHTML]="lyricsService.content"></pre>
</ion-content>
