<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light">Settings ({{profileService.profile.name}})</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-list-header color="medium">General</ion-list-header>
    <ion-item>
      <ion-label>Theme</ion-label>
      <ion-select [(ngModel)]="themeIndex" (ionChange)="changedThemeIndex()" interface="popover">
        <ion-select-option *ngFor="let theme of profileService.getThemes(), let i = index"
                           [value]="i">{{theme.title}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Profile Toolbar</ion-label>
      <ion-toggle [(ngModel)]="profileToolbarEnabled" (ionChange)="changedProfileToolbarEnabled()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Mala enabled</ion-label>
      <ion-toggle [(ngModel)]="malaEnabled" (ionChange)="changedMalaEnabled()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Number of mala beads</ion-label>
      <ion-input type="number" [disabled]="!malaEnabled" [(ngModel)]="malaBeads"
                 (ionChange)="changedMalaBeads()"></ion-input>
    </ion-item>

    <ion-list-header color="medium">Alarm</ion-list-header>
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select [(ngModel)]="notificationType" (ionChange)="changedNotificationType()" interface="popover">
        <ion-select-option [value]="0">Ringing</ion-select-option>
        <ion-select-option [value]="1">Vibration</ion-select-option>
        <ion-select-option [value]="2">Ringing + Vibration</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Ring Tone</ion-label>
      <ion-select [disabled]="notificationType === 1" [(ngModel)]="ringToneIndex" (ionChange)="changedRingToneIndex()"
                  interface="popover">
        <ion-select-option *ngFor="let ringTone of profileService.getRingTones(), let i = index"
                           [value]="i">{{ringTone.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>End Sign</ion-label>
      <ion-toggle [(ngModel)]="notificationEnabled" (ionChange)="changedNotificationEnabled()"></ion-toggle>
    </ion-item>

    <ion-list-header color="medium">Timer</ion-list-header>
    <ion-item>
      <ion-label>Enabled</ion-label>
      <ion-toggle [(ngModel)]="timerEnabled" (ionChange)="changedTimerEnabled()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Repeated</ion-label>
      <ion-toggle [(ngModel)]="timerRepeated" (ionChange)="changedTimerRepeated()"></ion-toggle>
    </ion-item>
    <ion-item (click)="showTimerForm()">
      <ion-label>Periods (secs)</ion-label>
      <ion-button [disabled]="!timerEnabled">Change</ion-button>
    </ion-item>
    <ion-item (click)="showTimerForm()">
      <ion-label></ion-label>
      <p class="timer-periods">{{timerPeriods}}</p>
    </ion-item>

    <ion-list-header color="medium">Background Music</ion-list-header>
    <ion-item>
      <ion-label>Enabled</ion-label>
      <ion-toggle [(ngModel)]="musicEnabled" (ionChange)="changedMusicEnabled()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Music</ion-label>
      <ion-select [disabled]="!musicEnabled" [(ngModel)]="musicUrl"
                  (ionChange)="changedMusicUrl()"
                  interface="popover">
        <ion-select-option *ngFor="let session of sessions" [value]="session.url">
          {{session.getTitle()}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Volume</ion-label>
      <ion-range [disabled]="!musicEnabled" (ionChange)="changedMusicVolume()" [(ngModel)]="musicVolume"
                 [snaps]="true" [min]="10" [max]="100" [pin]="true" [debounce]="500" [step]="10">
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-label (click)="showHelp('Music restarts', 'music_restart')">
        Restarted
        <ion-icon name="help" class="help-icon"></ion-icon>
      </ion-label>
      <ion-toggle [disabled]="!musicEnabled" [(ngModel)]="restartMusic"
                  (ionChange)="changedRestartMusic()"></ion-toggle>
    </ion-item>

    <ion-list-header color="medium">Profile</ion-list-header>
    <ion-item>
      <ion-label>New Profile</ion-label>
      <ion-button (click)="showProfileForm()">Add</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Select profile</ion-label>
      <ion-select [disabled]="profileService.profiles.profiles.length === 1" [(ngModel)]="selectedProfile"
                  (ionChange)="changedProfile()" interface="popover">
        <ion-select-option *ngFor="let profile of profileService.profiles.profiles"
                           [value]="profile.name">{{profile.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Remove current profile</ion-label>
      <ion-button [disabled]="profileService.isCurrentProfile('Default')" (click)="confirmDelete()">Remove</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
